@page "/epub2comment"
@using System.IO
@using AeroEpub.Epub
<h3>EPUB to Comment</h3>

<InputFile OnChange="@Proc" />
@if (texts != null && texts.Count > 0)
{
    <ul>
        @for (int i = 0; i < texts.Count; i++)
        {
            var a = i;
            var data_select = (a == currentText).ToString();
            <li @onclick="@(e => currentText=a)" data-select="@data_select">
                @texts[i].path
            </li>
        }
    </ul>
    <textarea>@texts[currentText].content</textarea>
}


@code {
    List<TextFile> texts;
    int currentText = 0;

    async private Task Proc(InputFileChangeEventArgs e)
    {
        var stream = e.File.OpenReadStream(5120000000);
        MemoryStream ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        ms.Seek(0, SeekOrigin.Begin);

        var epub = new EpubFile(ms);
        Epub2Comment epub2Comment = new Epub2Comment(epub);
        epub2Comment.output_path = "/";
        texts = epub2Comment.Proc();
    }
}
